<h1>Welcome to Your Online Cookbook!</h1>

<p><a href="/tags/">Click here</a> if you are a cook looking to search for existing recipes.</p>

<p><a href="/recipes/">Click here</a> if you are a contributer looking to create a new recipe.</p>
