<h1 class="jumbotron">All Tags</h1>

<span class="listing">
<ul>
<% @tags.each do |tag| %>

  <li><a href="/tags/<%=tag.id%>"><%= tag.name %></a></li>

<% end %>
</ul>
</span>

<br/>

<h3>Add a New Tag</h3>

<%= render('layouts/errors', :object => @tag) %>

<form action="/tags/" method="post">
  <%= render('form') %>
  <button>Create Tag</button>
</form>
<br/>
<p><a href='/'>Go back to the main menu</a></p>
